<div class="card py-2">
  <div class="title-table pb-2">
    <h4 class="fw-bold mb-0 px-3">Historial</h4>
  </div>

  <div class="table-responsive px-2">
    <table class="table table-borderless mb-0">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Placa</th>
          <th>Fecha</th>
          <th>Hora Entrada</th>
          <th>Hora Salida</th>
          <th>Monto</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>

        <tr>
          <th>James Butt</th>
          <th>AUD-4753</th>
          <th>2015-09-13</th>
          <th>18:59</th>
          <th>19:00</th>
          <th>s/ 1.00</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
