<div class="card py-2">
  <div class="title-table pb-2">
    <h4 class="fw-bold mb-0 px-3">Historial</h4>
  </div>

  <div class="table-responsive px-2">
    <table class="table table-borderless mb-0">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Placa</th>
          <th>Fecha</th>
          <th>Hora Entrada</th>
          <th>Hora Salida</th>
          <th>Monto</th>
        </tr>
      </thead>

      <tbody>
        @for (parking of parking; track parking.id){
        <tr>
          <th>{{ parking.cliente.name }}</th>
          <th>{{ parking.vehicle.plate }}</th>
          <th>{{ parking.checkin }}</th>
          <th>{{ parking.checkin | date : "h:mm a" }}</th>
          <th>{{ parking.checkout | date : "h:mm a" }}</th>
          <th>
            {{ parking.total | currency : "PEN" : "symbol" : "" : "es-PE" }}
          </th>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
