<div class="card py-2">
  <div class="title-table pb-2">
    <h4 class="fw-bold mb-0 px-3">Lista de Estacionamiento</h4>
  </div>

  <div class="table-responsive px-2">
    <table class="table table-borderless mb-0">
      <thead>
        <tr>
          <th>N°</th>
          <th>Cliente</th>
          <th>Placa</th>
          <th>Fecha Entrada</th>
          <th>Hora Entrada</th>
          <th>
            <div class="d-flex align-items-center">
              <span class="fw-bold">Tiempo</span>
              <span class="text-secondary mx-3">|</span>
              <button (click)="updateAllTimes()" class="btn btn-reload p-0">
                <i class="fa-solid fa-rotate-right"></i>
              </button>
            </div>
          </th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        @for (parking of parking; track parking.id; let i = $index) {
        <tr>
          <th>{{ i + 1 }}</th>
          <th>{{ parking.cliente.name }}</th>
          <th>{{ parking.vehicle.plate }}</th>
          <th>{{ parking.checkin | date : "MM/dd/yyyy" }}</th>
          <th>{{ parking.checkin | date : "h:mm a" }}</th>
          <th>{{ getDateTime(parking.checkin) }}</th>
          <th>
            <button
              type="button"
              (click)="getDataForId(parking.id)"
              class="btn btn-danger"
              data-bs-target="#modalConfirm"
              data-bs-toggle="modal"
            >
              Terminar
            </button>
          </th>
        </tr>
        } @empty {
        <p>No hay datos</p>
        }
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="modalConfirm"
    aria-hidden="true"
    aria-labelledby="modalConfirmLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalConfirmLabel">
            ¿Desea terminar la estadía?
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Esta acción es irreversible. ID: {{ selectedParking?.id }}
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-bs-target="#modalTicket"
            data-bs-toggle="modal"
            (click)="finishParking()"
          >
            Aceptar
          </button>
          <button class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modalTicket"
    aria-hidden="true"
    aria-labelledby="modalTicketLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalTicketLabel">
            Comprobante de Pago
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p><strong>Cliente: </strong>{{ selectedParking?.cliente.name }}</p>
          <p><strong>DNI: </strong>{{ selectedParking?.cliente.dni }}</p>
          <p><strong>Placa: </strong>{{ selectedParking?.vehicle.plate }}</p>
          <p>
            <strong>Fecha: </strong
            >{{ selectedParking?.checkin | date : "MM/dd/yyyy" }}
          </p>
          <p>
            <strong>Hora Entrada: </strong
            >{{ selectedParking?.checkin | date : "h:mm a" }}
          </p>
          <p>
            <strong>Hora Salida: </strong
            >{{ selectedParking?.checkout | date : "h:mm a" }}
          </p>
          <p>
            <strong>Monto Total: </strong
            >{{
              selectedParking?.total
                | currency : "PEN" : "symbol" : "" : "es-PE"
            }}
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-dismiss="modal">
            Imprimir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
