<div class="parent">
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
    <div class="form-container sign-up">
      <form>
        <h1>Iniciar sesión</h1>
        <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Correo electrónico">
        <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Contraseña">
        <button (click)="onLogin()">Iniciar sesión</button>
      </form>
    </div>
    <div class="form-container sign-in">

    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>¿No tienes cuenta?</h1>
          <button routerLink="/register"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }">Crear cuenta</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

