.bg-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/assets/img/parking.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

h1,
label,
i,
input,
.btn-change {
    color: #ffffff;
}

button {
    border: none;
    outline: none;
    background: none;
}

button:hover {
    font-weight: bold;
}

label,
.btn-user {
    border: none;
    outline: none;
    border-radius: 10em;
    padding: 0.8em 1.2em;
}

label {
    background: rgba(255, 255, 255, 0.2);
}

.btn-user {
    background: rgba(255, 255, 255, 0.685);
    color: #09090b !important;
}

input {
    border: none;
    outline: none;
    background: none;
    padding-left: 0.6em;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

#register {
    font-weight: bold;
}

form > label {
    margin-bottom: 1em;
}
