@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bg-cover {
    background-image: url('/assets/img/parking.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

button {
    border: none;
    outline: none;
    background: none;
}

button:hover {
    font-weight: bold;
}

label {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10em;
    padding: 1em;
}

input {
    border: none;
    outline: none;
    background: none;
    padding-left: 0.6em;
}

::placeholder {
    color: white;
    opacity: 1;
    font-weight: bold;
}

::-ms-input-placeholder {
    color: white;
}

#register{
    font-weight: bold;
}

form > label{
    margin-bottom: 1em;
}
