<header class="px-1 px-sm-1 sticky-top">
  <nav
    class="d-flex flex-column align-items-center align-items-sm-start min-vh-100 pt-3"
  >
    <div class="d-block text-center w-100">
      <div>
        <span class="d-none d-sm-inline fs-6 text-secondary"
          >Estacionamiento</span
        >
      </div>
      <div>
        <span class="d-none d-sm-inline fs-4 fw-bold w-100">LA PARKA</span>
      </div>
    </div>

    <hr class="line" />

    <ul
      class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
      id="menu"
    >
      <div class="w-100 py-2">
        <li class="nav-item">
          <span class="d-none d-sm-inline text-secondary ms-3 ms-lg-3 ms-sm-2"
            >MENU</span
          >
        </li>
      </div>

      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="align-middle w-100 px-0"
      >
        <div class="cont-item rounded w-100 px-0 px-lg-3 px-sm-2 py-2">
          <li class="nav-item">
            <i class="fa-solid fa-car"></i>
            <span class="d-none d-sm-inline ms-2">Estacionamiento</span>
          </li>
        </div>
      </a>

      <a
        routerLink="history"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="align-middle w-100 px-0"
      >
        <div class="cont-item rounded w-100 px-0 px-lg-3 px-sm-2 py-2">
          <li class="nav-item">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span class="d-none d-sm-inline ms-2">Historial</span>
          </li>
        </div>
      </a>
    </ul>
  </nav>
</header>
