header {
  border-right: 1px solid #e2e8f0;
}

.text-secondary {
  color: #9ba9bd !important;
  font-weight: bold !important;
}

a {
  text-decoration: none;
}

.cont-item:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}

.line {
  border: 0;
  width: 100%;
  border: 1px solid #9ba9bd;
  margin: 10px 0px 10px;
}

@media (max-width: 575px) {
  .cont-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.active > div > li > span,
.active > div > li > i {
  font-weight: bold !important;
}
