



<div class="container-fluid p-0 overflow-hidden">
  <div class="row g-0 vh-100 overflow-auto">
    <header class="sidebar col-auto col-2 col-sm-4 col-md-3 col-xl-3 col-xxl-2">
      <nav
        class="d-flex flex-column align-items-center align-items-sm-start min-vh-100 pt-3"
      >
        <div class="d-block text-center w-100">
          <div>
        <span class="d-none d-sm-inline fs-6 text-secondary"
        >Estacionamiento</span
        >
          </div>
          <div>
            <span class="d-none d-sm-inline fs-4 fw-bold w-100">LA PARKA</span>
          </div>
        </div>

        <hr class="line" />

        <ul
          class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
          id="menu"
        >
          <div class="w-100 py-2">
            <li class="nav-item">
          <span class="d-none d-sm-inline text-secondary ms-3 ms-lg-3 ms-sm-2"
          >MENU</span
          >
            </li>
          </div>

          <a
            routerLink="/parking"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="align-middle w-100 px-0"
          >
            <div class="cont-item rounded w-100 px-0 px-lg-3 px-sm-2 py-2">
              <li class="nav-item">
                <i class="fa-solid fa-car"></i>
                <span class="d-none d-sm-inline ms-2">Estacionamiento</span>
              </li>
            </div>
          </a>

          <a
            routerLink="/history"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="align-middle w-100 px-0"
          >
            <div class="cont-item rounded w-100 px-0 px-lg-3 px-sm-2 py-2">
              <li class="nav-item">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span class="d-none d-sm-inline ms-2">Historial</span>
              </li>
            </div>
          </a>

            <div class="cont-item rounded w-100 px-0 px-lg-3 px-sm-2 py-2">
              <li class="nav-item">
                <form class="d-flex">
                  <span class="">{{loggedUser?.email}} </span>
                  <button class="btn btn-primary" type="button" (click)="onLogoff()">LogOff</button>
                </form>
              </li>
            </div>

        </ul>
      </nav>
    </header>
    <main
      class="col-auto col-10 col-sm-8 col-md-9 col-xl-9 col-xxl-10 flex-column h-sm-100"
    >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
