/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
  color: #334155;
}

.btn-success {
  background-color: #21c55d !important;
}

.btn-danger {
  background-color: #dc3545 !important;
}

.btn-success,
.btn-danger {
  border: none !important;
  border-radius: 4px !important;
  height: 38px;
}

.btn-success:hover,
.btn-danger:hover {
  opacity: 0.8;
  border: none;
}

th {
  color: #334155 !important;
}

tr {
  vertical-align: middle;
}

thead > tr > th {
  font-weight: bold;
}
