/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --background-theme: #ffffff;
    --main-color: #fbfbfb;

    --text-color: #09090b;
    --a-background-color: #18181b;
    --a-hover-active: #18181be6;
    --a-hover: #f4f4f5;

    --border: #e4e4e7;
    --input-placeholder: #797981;
}

[data-theme="dark"] {
    --background-theme: #09090b;
    --main-color: #27272a66;

    --text-color: #ffffff;
    --a-background-color: #27272a;
    --a-hover-active: #27272a;
    --a-hover: #27272a;

    --border: #27272a;
    --input-placeholder: #a1a1aa;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--background-theme) !important;
    color: var(--text-color) !important;
}

main {
    background-color: var(--main-color) !important;
}

tr {
    vertical-align: middle;
}

thead > tr > th {
    font-weight: bold;
}

.btn-success,
.toast-success {
    background-color: #35a835 !important;
    color: white !important;
}

.btn-danger,
.toast-error {
    background-color: #d91424 !important;
}

.btn-primary,
.toast-info {
    background-color: #017ad9 !important;
}

.btn-warning,
.toast-warning {
    background-color: #ffba01 !important;
    color: white !important;
}

.btn-success,
.btn-danger,
.btn-primary,
.btn-secondary,
.btn-warning {
    border: none !important;
    border-radius: 6px !important;
    height: 38px;
}

.btn-success:hover,
.btn-danger:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-warning:hover {
    opacity: 0.8;
    border: none;
}

/* th {
  color: #09090b !important;
} */

.toast-message,
.toast-title {
    color: white !important;
}

.btn-mark {
    background-color: transparent;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    border: 0;
    opacity: 0.5;
}

.fa-xmark {
    font-size: 1.5em;
}

.btn-mark:hover {
    opacity: 1;
}
